.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 50px;
  padding-left: 60px;
}
.unorderedList {
  display: flex;
  justify-content: space-between;
}

.unorderedList li {
  margin-right: 30px;
  list-style: none;
  cursor: pointer;
}

.unorderedList li:hover {
  color: rgb(216, 110, 110);
}
