.techStackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 113px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  gap: 5px;
}
.techStackContainer img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 600px) {
  .techStackContainer {
    width: 100px;
  }
  .techStackContainer p {
    font-size: 13px;
  }
}
