.stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 50%;
  gap: 20px;
}

.techStackContainerDiv {
  display: grid;
  place-items: center;
  margin-top: 50px;
}
.headerAndLine {
  display: flex;
  align-items: center;
  gap: 10px;
}
