.contactLine {
  width: 5px;
  height: 30px;
  background-color: rgb(216, 110, 110);
}

.contactAndLine {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}
.inputContainers .inputs {
  width: 500px;
  height: 45px;
  border-radius: 10px;
  border: none;
}
.inputContainers .inputs :focus {
  outline: none;
}
.inputContainers .textarea {
  width: 500px;
  height: 70px;
  border-radius: 10px;
  border: none;
}
.sendButton {
  width: 150px;
  height: 40px;
  background-color: rgb(255, 153, 153);
  color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 0 30px #fff; */
  border: none;
}

.form {
  width: 600px;
  height: 300px;
  background-color: rgba(216, 110, 110, 0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.contactContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0 10px;
  margin-bottom: 200px;
  gap: 500px;
}

@media only screen and (max-width: 600px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 20px;
  }
  .form {
    width: 350px;
  }
  .inputContainers .textarea {
    width: 300px;
  }
  .inputContainers .inputs {
    width: 300px;
  }
  .contactAndLine {
    display: flex;
    flex-direction: row;
  }
}
